<div class="col-md-10">
    <div class="btn-group" style="float:right">
        <button type="button" id="btnSubmit" class="btn btn-outline-info"><i class="far fa-save fa-sm pr-2"></i>Save</button>
        <button type="button" id="btnClear" class="btn btn-outline-dark"><i class="fas fa-recycle fa-sm pr-2"></i>Clear</button>
        <button type="button" id="btnDelete" class="btn btn-outline-danger"><i class="far fa-minus-square fa-sm pr-2"></i>Delete</button>
    </div>
</div>
